.left-image {
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.right-image {
	float: right;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

blockquote {
	overflow: hidden;
}

.post {
	overflow: auto;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 2rem;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.field label {
	display: block;
	font-size: .875em;

	text-indent: 6px;
}

.field input, .field textarea {
	display: block;
	font-size: 100%;
	border: 1px solid #ccc;
	padding: 4px;
	background: #fff;
	border-radius: 3px;	
}

.comments h3 {
	margin-top: 2em;
	color: #666;
}

.home-read-more {
    margin-bottom: 40px;
}

.button-large {
	text-align: center;
	font-size: 24px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;

	display: block;
	background-color:#f6f6f6;
	border-radius:6px;
	border:1px solid #dcdcdc;

	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}