---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %} {% if page.categories %}
      {% for category in page.categories %}• {{ category }} {% endfor %}{% endif %}</p>
      {% if page.note %}{{ page.note | markdownify }}{% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<div class="comments">
  <h3>Poursuivre la discussion</h3>
  <p> 
     Envie de réagir à l'article ? Il suffit de me laisser un message via la <a href="/contact/"> page de contact</a>, un tweet <a href="https://twitter.com/avernois">@avernois</a> ou un billet chez vous.<br>
     Vous pouvez aussi proposer des modifications via <a href="https://gitlab.com/avernois/blog.crafting-labs.fr/blob/published/{{ page.path }}">le source de cet article sur gitlab</a>.
  </p>
</div>
